/* line 3, ../scss/style.scss */
body {
  background: white;
}

/* line 6, ../scss/style.scss */
.blobs {
  filter: url("#goo");
  -webkit-filter: url("#goo");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes blob-left-top-anim {
  0% {
    transform: scale(1.1) translate(-65px, -65px);
    -webkit-transform: scale(1.1) translate(-65px, -65px);
  }
  33% {
    transform: scale(0.7) translate(65px, -65px);
    -webkit-transform: scale(0.7) translate(65px, -65px);
  }
  62% {
    transform: scale(0.4) translate(65px, 65px);
    -webkit-transform: scale(0.4) translate(130px, 97.5px);
  }
  94% {
    transform: scale(0.4) translate(-65px, -65px);
    -webkit-transform: scale(0.4) translate(-65px, -65px);
  }
}
@-webkit-keyframes blob-right-top-anim {
  0% {
    transform: scale(0.7) translate(65px, -65px);
    -webkit-transform: scale(0.7) translate(65px, -65px);
  }
  33% {
    transform: scale(0.6) translate(-65px, 65px);
    -webkit-transform: scale(0.6) translate(-65px, 65px);
  }
  64% {
    transform: scale(0.7) translate(65px, -65px);
    -webkit-transform: scale(0.7) translate(65px, -65px);
  }
  96% {
    transform: scale(0.7) translate(65px, -65px);
    -webkit-transform: scale(0.7) translate(65px, -65px);
  }
}
@-webkit-keyframes blob-left-bottom-anim {
  0% {
    transform: scale(0.6) translate(-65px, 65px);
    -webkit-transform: scale(0.6) translate(-65px, 65px);
  }
  33% {
    transform: scale(0.6) translate(65px, -65px);
    -webkit-transform: scale(0.6) translate(65px, 65px);
  }
  66% {
    transform: scale(0.6) translate(-65px, 65px);
    -webkit-transform: scale(0.6) translate(-65px, 65px);
  }
  98% {
    transform: scale(0.6) translate(-65px, 65px);
    -webkit-transform: scale(0.6) translate(-65px, 65px);
  }
}
@-webkit-keyframes blob-right-bottom-anim {
  0% {
    transform: scale(0.4) translate(130px, 97.5px);
    -webkit-transform: scale(0.4) translate(130px, 97.5px);
  }
  33% {
    transform: scale(1.1) translate(-65px, -65px);
    -webkit-transform: scale(1.1) translate(-65px, -65px);
  }
  68% {
    transform: scale(1.1) translate(-65px, -65px);
    -webkit-transform: scale(1.1) translate(-65px, -65px);
  }
  100% {
    transform: scale(0.4) translate(65px, 65px);
    -webkit-transform: scale(0.4) translate(65px, 65px);
  }
}
/* line 91, ../scss/style.scss */
.blob {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 100%;
  mix-blend-mode: multiply;
  animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 5s infinite;
  -webkit-animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 5s infinite;
}
/* line 103, ../scss/style.scss */
.blob.blob1 {
  background: #366695;
}
/* line 106, ../scss/style.scss */
.blob.blob2 {
  background: #47dccb;
}
/* line 109, ../scss/style.scss */
.blob.blob3 {
  background: #40abb4;
}
/* line 112, ../scss/style.scss */
.blob.blob4 {
  background: #95f4e9;
}
/* line 115, ../scss/style.scss */
.blob:nth-child(2) {
  -webkit-animation-name: blob-right-top-anim;
  animation-name: blob-right-top-anim;
}
/* line 119, ../scss/style.scss */
.blob:nth-child(3) {
  -webkit-animation-name: blob-left-bottom-anim;
  animation-name: blob-left-bottom-anim;
}
/* line 123, ../scss/style.scss */
.blob:nth-child(4) {
  -webkit-animation-name: blob-right-bottom-anim;
  animation-name: blob-right-bottom-anim;
}
